{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    {{ form_widget(form) }}
<button class="btn btn-outline-green" style='width: 100%;background-color: cadetblue;'>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
