{% extends 'base-back.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-2">
            <div class="card mt-3 text-center shadow-lg"><a class=" btn btn" href="{{ path('app_event_index') }}"><i class="mdi mdi-arrow-left-bold"></i></a></div>

        </div>
        <div class="col-10">
            <h1 class="text-center m-2">Edit Evenement</h1>
        </div>
    </div>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
