{% extends 'base-front.html.twig' %}

{% block title %}New Gym{% endblock %}

{% block body %}
    <h1>Create new Gym</h1>

    {{ include('salledesport/_form.html.twig') }}

    <a href="{{ path('app_salledesport_manager') }}">back to list</a>
{% endblock %}
