{% extends 'base-front.html.twig' %}
{% block title %}New User{% endblock %}

{% block body %}

    <h1>Create new User</h1>
    {{ include('user/formcoach.html.twig') }}

    <a href="{{ path('login') }}">back</a>

{% endblock %}
